@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body {
  background: rgb(20,20,20);
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  margin: 50% 0 0 0;
  position: relative;
}

.wrapper {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

.scroll-text {
    color: #ffc909;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 360s linear forwards;
}

h1, h2 {
    text-align: center;
}

@keyframes scroll {
    from { top: 0;}
    to {top: -7500px;}
}
